@import "../../node_modules/buefy/dist/buefy.min.css";
html,
body {
    direction: rtl;
}

html {
    overflow-x: hidden;
}

.rtl-navbar {
    margin-right: auto;
    margin-left: 0;
}

.p-0 {
    padding: 0;
}

.mt-0-mb-half {
    margin: 0rem 0rem 0.5rem 0rem;
}

.m-0 {
    margin: 0;
}

.m-half {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}
